<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/bin:/usr/bin:/usr/local/bin:/opt/homebrew/bin:/sbin:/usr/sbin</string>
    </dict>

    <key>Label</key>
    <string>org.allmaps.arcade.server</string>

    <key>LaunchOnlyOnce</key>
    <true />

    <key>UserName</key>
    <string>arcade</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>StandardErrorPath</key>
    <string>/Users/arcade/projects/arcade-server/files/logs/update-build-and-run.error.log</string>

    <key>StandardOutPath</key>
    <string>/Users/arcade/projects/arcade-server/files/logs/update-build-and-run.log</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/arcade/projects/arcade-server/update-build-and-run.sh</string>
    </array>
  </dict>
</plist>